:host {
  display: block;
  margin: 5px;
  padding: 10px;
  max-width: 100%;
  border: 1px dashed #cccccc;
  font-size: 13px;
  word-break: break-all;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: background-color 300ms;

  &.is-appear {
    background-color: #ff9900;
  }
}
